@import "../../../style/index.scss";

.container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 2rem;
    @include d-flex-column();
    align-items: start;
}

.container > * {
    margin-bottom: 1rem;
    padding: 0;
}
.container p {
    font-size: large;
}